*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button{
  width:100px;
  height:100px;
  background:grey;
  border-radius: 10px;
  border: none;
  margin:5px;
  opacity:0.1;
}
button.on{
  opacity:1;
}
.pad-container{
  width:440px;
}
main{
  padding: 5px;
  width:100%;
  height:100vh;
  background:black;
}